json_resources/dx-rich.es.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "Modificar hipervínculo",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "Insertar hipervínculo",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "Centímetros",
  "OfficeStringId.Caption_UnitInches": "Pulgadas",
  "OfficeStringId.Caption_UnitMillimeters": "Milímetros",
  "OfficeStringId.Caption_UnitPercent": "Porcentaje",
  "OfficeStringId.Caption_UnitPoints": "Puntos",
  "OfficeStringId.FileFilterDescription_AllFiles": "Todos los ficheros",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "Todos los ficheros Soportados",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "Bipmap de Windows",
  "OfficeStringId.FileFilterDescription_EmfFiles": "Metadatos mejorados de Microsoft",
  "OfficeStringId.FileFilterDescription_GifFiles": "Graphics Interchage Format",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "JPEG File Interchange Format",
  "OfficeStringId.FileFilterDescription_PNGFiles": "PNG",
  "OfficeStringId.FileFilterDescription_TiffFiles": "Tag Image File Format",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Metadatos de Windows",
  "OfficeStringId.MenuCmd_AlignmentCenter": "Centrar",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "Centrar texto.",
  "OfficeStringId.MenuCmd_AlignmentJustify": "Justificar",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "Alinea el texto en los margenes izquierdo y derecho y agrega espacios adicionales entre palabras si es necesario.\n\nDa la impresión de una página bien ordenada.",
  "OfficeStringId.MenuCmd_AlignmentLeft": "Alinear Texto Izquierda",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "Alinear Texto a la Izquierda",
  "OfficeStringId.MenuCmd_AlignmentRight": "Alinear Texto Derecha",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "Alinear Texto a la Derecha",
  "OfficeStringId.MenuCmd_ChangeFontColor": "Color Fuente",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "Cambiar el color del texto",
  "OfficeStringId.MenuCmd_ChangeFontName": "Fuente",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "Cambiar fuente.",
  "OfficeStringId.MenuCmd_ChangeFontSize": "Tamaño Fuente",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "Cambiar tamaño de la fuente.",
  "OfficeStringId.MenuCmd_ClearUndo": "ClearUndo",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "Vaciar Deshacer",
  "OfficeStringId.MenuCmd_CopySelection": "Copiar",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "Copiar la selección y dejarlo en el Portapapeles.",
  "OfficeStringId.MenuCmd_CutSelection": "Cortar",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "Cortar la selección y dejarlo en el Portapapeles.",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "Encoger Fuente",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "Reduce el tamaño de la fuente.",
  "OfficeStringId.MenuCmd_DeleteComment": "Eliminar comentario",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "Eliminar el comentario seleccionado",
  "OfficeStringId.MenuCmd_EditComment": "Modificar comentario",
  "OfficeStringId.MenuCmd_EditCommentDescription": "Agrega una nota sobre este parte del documento.",
  "OfficeStringId.MenuCmd_EditHyperlink": "Editar Hipervínculo...",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "Editar Hipervínculo...",
  "OfficeStringId.MenuCmd_Encrypt": "Cifrar con contraseña",
  "OfficeStringId.MenuCmd_EncryptDescription": "Se necesita una contraseña para abrir el libro.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "Adelantar",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "Adelantar",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "Trae el objeto seleccionado un nivel hacia adelante de forma que quede oculto detrás de menos objetos.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "Traer el objeto seleccionado hacia delante hasta que está escondido por menos objetos que están frente a lo",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "Traer al Frente",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Traer el objeto seleccionado delante de todos los demás objetos para que ninguna parte de ella se esconde detrás de otros objetos.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "Enviar hacia atrás",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "Enviar hacia atrás",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "Envía el objeto seleccionado un nivel hacia atrás para que quede oculto detrás de otros objetos.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Enviar el objeto seleccionado hacia atrás por lo que está escondido por los objetos que están frente a lo",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "Enviar al fondo",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "Enviar el objeto seleccionado detrás de todos los demás objetos.",
  "OfficeStringId.MenuCmd_Hyperlink": "Insertar Hipervínculo",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "Crear un enlace a una página Web, una imagen, una dirección de correo o un programa.",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "Agrandar Fuente",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "Aumenta el tamaño de la fuente.",
  "OfficeStringId.MenuCmd_InsertComment": "Insertar comentario",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "Añadir un comentario acera de la selección.",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "Insertar imagen desde fichero",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Insertar una imagen de un fichero.",
  "OfficeStringId.MenuCmd_InsertHyperlink": "Hipervínculo...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "Añadir un nuevo hipervínculo a la hoja.",
  "OfficeStringId.MenuCmd_InsertSymbol": "Símbolo",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "Insertar símbolos que son párrafo no en el teclado, como símbolos de copyright, marca registrada símbolos, marcas y caracteres Unicode.",
  "OfficeStringId.MenuCmd_LoadDocument": "Abrir",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "Abrir un documento.",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "Nuevo",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "Crea un nuevo documento.",
  "OfficeStringId.MenuCmd_OpenHyperlink": "Abrir Hipervínculo",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "Abrir Hipervínculo",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "Moderado\nSup:\t{1,10}\tInf:\t{3,10}\nIzq:\t{0,10}\tDch:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "Estrecho\nSup:\t{1,10}\tInf:\t{3,10}\nIzq:\t{0,10}\tDch:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "Normal\nSup:\t{1,10}\tInf:\t{3,10}\nIzq:\t{0,10}\tDch:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "Ancho\nSup:\t{1,10}\tInf:\t{3,10}\nIzq:\t{0,10}\tDch:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "Orientación",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "Cambia la orientación entre vertical y horizontal.",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "Apaisado",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "Retrato",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "Pegar",
  "OfficeStringId.MenuCmd_PasteDescription": "Pegar el contenido del Portapapeles.",
  "OfficeStringId.MenuCmd_Print": "&Imprimir",
  "OfficeStringId.MenuCmd_PrintDescription": "Seleccione la impresora, el número de copias y otras opciones antes de imprimir.",
  "OfficeStringId.MenuCmd_PrintPreview": "&Vista previa",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "Obtiene una vista previa de las páginas y las modifica antes de imprimir.",
  "OfficeStringId.MenuCmd_QuickPrint": "Impr&esion Rápida",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "Envié el documento directamente a la impresora por defecto sin cambios.",
  "OfficeStringId.MenuCmd_Redo": "Rehacer",
  "OfficeStringId.MenuCmd_RedoDescription": "Rehacer",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "Eliminar Hipervínculo",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "Eliminar Hipervínculo",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "Eliminar Hipervínculos",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "Eliminar Hipervínculos",
  "OfficeStringId.MenuCmd_SaveDocument": "Guardar",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "Guardar como",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "Guardar como",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "Guardar.",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "Pegado Especial",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "Pegado Especial",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "Personalizar barra de estado",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "Zoom",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "Control deslizante del zoom",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": "Nivel de zoom. Haga clic para abrir el cuadro de diálogo Zoom.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "Zoom",
  "OfficeStringId.MenuCmd_ToggleFontBold": "Negrita",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "Cambiar el texto seleccionado a negrita.",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "Subrayado Doble",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Subrayado Doble",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "Cursiva",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "Aplica el formato de cursiva al texto seleccionado.",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "Tachado",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "Traza una línea en medio del texto seleccionado.",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "Subrayado",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "Subrayar el texto seleccionado.",
  "OfficeStringId.MenuCmd_Undo": "Deshacer",
  "OfficeStringId.MenuCmd_UndoDescription": "Deshacer",
  "OfficeStringId.MenuCmd_Zoom100Percent": "100%",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "Amplíe el documento al 100% de su tamaño normal.",
  "OfficeStringId.MenuCmd_ZoomIn": "Acercar",
  "OfficeStringId.MenuCmd_ZoomInDescription": "Acercar",
  "OfficeStringId.MenuCmd_ZoomOut": "Alejar",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "Alejar",
  "OfficeStringId.Msg_InternalError": "Error interno",
  "OfficeStringId.Msg_InvalidBeginInit": "Error: llamada a BeginInit dentro de BeginUpdate",
  "OfficeStringId.Msg_InvalidBeginUpdate": "Error: llamada a BeginUpdate dentro de BeginInit",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "Error: el documento original y el documento destino son diferentes",
  "OfficeStringId.Msg_InvalidEndInit": "Error: llamada a EndInit o CancelInit sin BeginInit o dentro de BeginUpdate",
  "OfficeStringId.Msg_InvalidEndUpdate": "Error: llamada a EndUpdate o CancelUpate sin BeginUpdate o dentro de BeginInit",
  "OfficeStringId.Msg_InvalidFontSize": "El número debe estar entre {0} y{1}.",
  "OfficeStringId.Msg_InvalidNumber": "No es un número válido.",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "Valor debe estar entre {0} y {1}.",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "Un origen de datos no se pueden eliminar durante el proceso de correspondencia.",
  "OfficeStringId.Msg_IsNotValid": "'{0}' no es un valor válido para el valor '{1}'",
  "OfficeStringId.Msg_Loading": "Cargando...",
  "OfficeStringId.Msg_MagicNumberNotFound": "El fichero que intenta abrir no corresponde en la extensión del fichero.",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "Formato no soportado o archivo dañado.",
  "OfficeStringId.UnitAbbreviation_Centimeter": " cm",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": " mm",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": " pc",
  "OfficeStringId.UnitAbbreviation_Point": " pt",
  "XtraRichEditStringId.BorderLineStyleNone": "Ninguno",
  "XtraRichEditStringId.Caption_AlignmentCenter": "Centrada",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "Distributed",
  "XtraRichEditStringId.Caption_AlignmentJustify": "Justificada",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_AlignmentLeft": "Izquierda",
  "XtraRichEditStringId.Caption_AlignmentRight": "Derecha",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_AllMarkup": "All Markup",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "Nada",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "Espacio",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "Carácter de tabulación",
  "XtraRichEditStringId.Caption_Bytes": "bytes",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "Ecuación",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "Figura",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "Tabla",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "Lowered",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "Normal",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "Raised",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "Condensed",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "Expanded",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "Normal",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "Portapapeles",
  "XtraRichEditStringId.Caption_ColorAutomatic": "Automática",
  "XtraRichEditStringId.Caption_ColumnBreak": "Column Break",
  "XtraRichEditStringId.Caption_Comments": "Comentarios",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "Celda inferior izquierda",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "Celda inferior derecha",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "Columnas pares de banda",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "Filas pares de banda",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "Primera columna",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "Fila de cabecera",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "Última columna",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "Total fila",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "Columnas de bandas impares",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "Filas de bandas impares",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "Celda izquierda superior",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "Celda derecha superior",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "Tabla completa",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "Documento Actual",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "Texto de Ejemplo",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "Comprobado por",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "Cliente",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "Fecha completa",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "Departamento",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "Destino",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "Disposición",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "División",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "Número de documento",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "Editor",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "Reenviar a",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "Grupo",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "Idioma",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "Mailstop",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "Materia",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "No",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "Oficina",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "Propietario",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "Proyecto",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "Editor",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "Propósito",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "Recibido de",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "Grabado por",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "Recorded date",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "Referencia",
  "XtraRichEditStringId.Caption_CustomPropertySource": "Fuente",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "Estado",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "Número de teléfono",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "Sí o no",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "Fecha",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "Número",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "Texto",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "Mecanógrafo",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "Valor",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "Sí",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "(propiedades subyacentes)",
  "XtraRichEditStringId.Caption_EvenPageFooter": "Pie de Páginas Pares",
  "XtraRichEditStringId.Caption_EvenPageHeader": "Cabecera de Páginas Pares",
  "XtraRichEditStringId.Caption_FillInForms": "Rellenando formularios",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "Colgante",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "Primera linea",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(ninguno)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "Pie de Primera Página",
  "XtraRichEditStringId.Caption_FirstPageHeader": "Cabecera de Primera Página",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "Párrafo Posterior",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "Changes",
  "XtraRichEditStringId.Caption_GroupNotes": "Notas al pie",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "Alineación",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "Tamaño de Celda",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "Dibujar Bordes",
  "XtraRichEditStringId.Caption_GroupTableMerge": "Fusionar",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "Filas y Columnas",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "Opciones de Estilos de Tablas",
  "XtraRichEditStringId.Caption_GroupTableStyles": "Estilos de Tablas",
  "XtraRichEditStringId.Caption_GroupTableTable": "Tabla",
  "XtraRichEditStringId.Caption_Heading": "Encabezado",
  "XtraRichEditStringId.Caption_HeightTypeExact": "Exacto",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "Mínimo",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "Mínimo",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "Doble",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "Exacto",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "Múltiple",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "1.5 líneas",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "Sencillo",
  "XtraRichEditStringId.Caption_MainDocumentComments": "Comentarios de documento principal",
  "XtraRichEditStringId.Caption_NoColor": "Sin Color",
  "XtraRichEditStringId.Caption_NoMarkup": "No Markup",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountFourColumn": "columna 4",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountMatchSectionLayout": "Coincidencia de diseño de sección",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountOneColumn": "columna 1",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountThreeColumn": "columna 3",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountTwoColumn": "columna 2",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeContinuous": "Continuo",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewPage": "Reiniciar cada página",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewSection": "Reiniciar cada sección",
  "XtraRichEditStringId.Caption_NotePositionBelowText": "Por debajo de la selección",
  "XtraRichEditStringId.Caption_NotePositionBottomOfPage": "Final de página",
  "XtraRichEditStringId.Caption_NotePositionEndOfDocument": "Final del documento",
  "XtraRichEditStringId.Caption_NotePositionEndOfSection": "Final de la sección",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "Ninguno",
  "XtraRichEditStringId.Caption_OddPageFooter": "Pie de Páginas Impares",
  "XtraRichEditStringId.Caption_OddPageHeader": "Cabecera de Páginas Impares",
  "XtraRichEditStringId.Caption_OriginalMarkup": "Original",
  "XtraRichEditStringId.Caption_OutlineLevel1": "Nivel 1",
  "XtraRichEditStringId.Caption_OutlineLevel2": "Nivel 2",
  "XtraRichEditStringId.Caption_OutlineLevel3": "Nivel 3",
  "XtraRichEditStringId.Caption_OutlineLevel4": "Nivel 4",
  "XtraRichEditStringId.Caption_OutlineLevel5": "Nivel 5",
  "XtraRichEditStringId.Caption_OutlineLevel6": "Nivel 6",
  "XtraRichEditStringId.Caption_OutlineLevel7": "Nivel 7",
  "XtraRichEditStringId.Caption_OutlineLevel8": "Nivel 8",
  "XtraRichEditStringId.Caption_OutlineLevel9": "Nivel 9",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "Texto de cuerpo 1",
  "XtraRichEditStringId.Caption_PageBreak": "Salto de página",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "Herramientas de Tablas",
  "XtraRichEditStringId.Caption_PageFooter": "Pie",
  "XtraRichEditStringId.Caption_PageHeader": "Cabecera",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "Right-to-left",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "Nueva columna",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "Continuo",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "Páginas Pares",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "Nueva Página",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "Páginas Impares",
  "XtraRichEditStringId.Caption_PageTableDesign": "Diseño",
  "XtraRichEditStringId.Caption_PageTableLayout": "Diseño",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "Centrar",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "Distributed",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "Justificar",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "Justify High",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "Justify Low",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "Justify Medium",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "Izquierda",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "Derecha",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "Colgante",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "Indentado",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "Ninguno",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "Como Mínimo",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "Doble",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "Exacto",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "Múltiple",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "Sesquialteral",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "Sencillo",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "Párrafo Anterior ",
  "XtraRichEditStringId.Caption_Readonly": "Sin cambios (sólo lectura)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "Igual que Anterior",
  "XtraRichEditStringId.Caption_SectionBreak": "Section Break",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "Columna",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "Continuo",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "Página Siguiente",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "De aquí en adelante",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "Selección actual",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "Secciones seleccionados",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "Documento entero",
  "XtraRichEditStringId.Caption_SimpleMarkup": "Simple Markup",
  "XtraRichEditStringId.Caption_TrackedChanges": "Tracked Changes",
  "XtraRichEditStringId.ClearFormatting": "Eliminar Formateo",
  "XtraRichEditStringId.ColorAuto": "Automático",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.Comment": "Comentario [{0} {1}]:",
  "XtraRichEditStringId.CommentToolTipHeader": "by {0}",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} de {1}",
  "XtraRichEditStringId.DefaultDocumentName": "Documento",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "texto seleccionado",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "cita corta",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "cita larga",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "Artículo / sección",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "Texto de Globo",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "Bloque de Texto",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "Texto de cuerpo 1",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "Texto de cuerpo 2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "Texto de cuerpo 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "Texto de cuerpo Indentado 1",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "Texto de cuerpo Indentado 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "Sangría de texto de cuerpo",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "Texto de cuerpo Indentado 3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "Texto de cuerpo Indentado 4",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "Leyenda",
  "XtraRichEditStringId.DefaultStyleName_Closing": "Cerrando",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "Comentario de referencia",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "Tema de comentario",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "Comentario de texto",
  "XtraRichEditStringId.DefaultStyleName_Date": "Fecha",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "Fuente por defecto",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": "Mapa del Documento",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "Firma de email",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "Énfasis",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "referencia",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "texto",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "dirección del sobre",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": "dirección de retorno",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "FollowedHyperlink",
  "XtraRichEditStringId.DefaultStyleName_footer": "pie de pagina",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "referencia de pie de página",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "texto de pie de página",
  "XtraRichEditStringId.DefaultStyleName_header": "cabecera",
  "XtraRichEditStringId.DefaultStyleName_heading1": "encabezado 1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "encabezado 2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "encabezado 3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "encabezado 4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "encabezado 5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "encabezado 6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "encabezado 7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "encabezado 8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "encabezado 9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "Acrónimo HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "Dirección HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "Cierre del formulario HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "Cita HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "Código HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "Definición HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "Teclado HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "Pre formateado HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "Ejemplo HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "Apertura de formulario HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "HTML Maquina de Escribir",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "HTML Variable",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "HyperlinkFollowed",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "HyperlinkStrongEmphasis",
  "XtraRichEditStringId.DefaultStyleName_index1": "índice 1",
  "XtraRichEditStringId.DefaultStyleName_index2": "índice 2",
  "XtraRichEditStringId.DefaultStyleName_index3": "índice 3",
  "XtraRichEditStringId.DefaultStyleName_index4": "índice 4",
  "XtraRichEditStringId.DefaultStyleName_index5": "índice 5",
  "XtraRichEditStringId.DefaultStyleName_index6": "índice 6",
  "XtraRichEditStringId.DefaultStyleName_index7": "índice 7",
  "XtraRichEditStringId.DefaultStyleName_index8": "índice 8",
  "XtraRichEditStringId.DefaultStyleName_index9": "índice 9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "cabecera índice",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "número de línea",
  "XtraRichEditStringId.DefaultStyleName_List": "Lista",
  "XtraRichEditStringId.DefaultStyleName_List2": "Lista 2",
  "XtraRichEditStringId.DefaultStyleName_List3": "Lista 3",
  "XtraRichEditStringId.DefaultStyleName_List4": "Lista 4",
  "XtraRichEditStringId.DefaultStyleName_List5": "Lista 5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "Viñeta 1",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "Viñeta 2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "Viñeta 3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "Viñeta 4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "Viñeta 5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "Lista continua 1",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "Lista continua 2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "Lista continua 3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "Lista continua 4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "Lista Continua 5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "Lista numérica 1",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "Lista numérica 2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "Lista numérica 3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "Lista numérica 4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "Lista numérica 5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "Texto de macro",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "macro a una cabecera",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "Cabecera de Mensaje",
  "XtraRichEditStringId.DefaultStyleName_NoList": "Sin Lista",
  "XtraRichEditStringId.DefaultStyleName_Normal": "Normal",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "Indentado normal",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "Tabla normal",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "Normal (Web)",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "Encabezado",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "Lista subrayado 1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "Lista subrayado 2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "Lista subrayado 3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "numero de página",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "Texto Simple",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "Saludo",
  "XtraRichEditStringId.DefaultStyleName_Signature": "Firma",
  "XtraRichEditStringId.DefaultStyleName_Strong": "Fuerte",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "Subtitulo",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "Efecto de tabla 3D 1",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "Efecto de tabla 3D 2",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "Efecto de tabla 3D 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "Tabla Clásica 1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "Tabla Clásica 2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "Tabla Clásica 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "Tabla Clásica 4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "Tabla Colorido 1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "Tabla Colorido 2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "Tabla Colorido 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "Tabla de Columnas 1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "Tabla de Columnas 2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "Tabla de Columnas 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "Tabla de Columnas 4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "Tabla de Columnas 5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "Tabla Contemporáneo",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "Tabla Elegante",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "Tabla Rejilla",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "Tabla Rejilla 1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "Tabla Rejilla 2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "Tabla Rejilla 3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "Tabla Rejilla 4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "Tabla Rejilla 5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "Tabla Rejilla 6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "Tabla Rejilla 7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "Tabla Rejilla 8",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "Tabla Lista 1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "Tabla Lista 2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "Tabla Lista 3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "Tabla Lista 4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "Tabla Lista 5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "Tabla Lista 6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "Tabla Lista 7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "Tabla Lista 8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "Tabla Normal",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "tabla de autoridades",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "tabla de figuras",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "Tabla Profesional",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "Tabla Simple 1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "Tabla Simple 2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "Tabla Simple 3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "Tabla Sutil 1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "Tabla Sutil 2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "Tema de la tabla",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "Tabla Web 1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "Tabla Web 2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "Tabla Web 3",
  "XtraRichEditStringId.DefaultStyleName_Title": "Título",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "TOA Heading",
  "XtraRichEditStringId.DefaultStyleName_toc1": "tdc 1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "tdc 2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "tdc 3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "tdc 4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "tdc 5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "tdc 6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "tdc 7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "tdc 8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "tdc 9",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "Símbolo",
  "XtraRichEditStringId.FieldLastName": "Apellido",
  "XtraRichEditStringId.FieldMapAddress1": "Dirección 1",
  "XtraRichEditStringId.FieldMapAddress2": "Dirección 2",
  "XtraRichEditStringId.FieldMapAddress3": "Dirección 3",
  "XtraRichEditStringId.FieldMapBusinessFax": "Fax Trabajo",
  "XtraRichEditStringId.FieldMapBusinessPhone": "Teléfono Trabajo",
  "XtraRichEditStringId.FieldMapCity": "Ciudad",
  "XtraRichEditStringId.FieldMapCompany": "Compañía",
  "XtraRichEditStringId.FieldMapCountry": "País o Región",
  "XtraRichEditStringId.FieldMapDepartment": "Departamento",
  "XtraRichEditStringId.FieldMapEMailAddress": "Correo Electrónico",
  "XtraRichEditStringId.FieldMapFirstName": "Nombre",
  "XtraRichEditStringId.FieldMapHomeFax": "Fax Casa",
  "XtraRichEditStringId.FieldMapHomePhone": "Teléfono Casa",
  "XtraRichEditStringId.FieldMapJobTitle": "Título Profesión",
  "XtraRichEditStringId.FieldMapMiddleName": "Segundo Nombre",
  "XtraRichEditStringId.FieldMapNickName": "Apodo",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "Nombre Esposa/Pareja",
  "XtraRichEditStringId.FieldMapPartnerLastName": "Apellido Esposa/Pareja",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "Segundo Nombre Esposa/Pareja",
  "XtraRichEditStringId.FieldMapPartnerNickName": "Apodo Esposa/Pareja",
  "XtraRichEditStringId.FieldMapPartnerTitle": "Título Esposa/Pareja",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "Guía fonetica del Nombre",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "Guía fonética del Apellido",
  "XtraRichEditStringId.FieldMapPostalCode": "Código Postal",
  "XtraRichEditStringId.FieldMapState": "Estado/Provincia",
  "XtraRichEditStringId.FieldMapSuffix": "Sufijo",
  "XtraRichEditStringId.FieldMapTitle": "Título de Cortesía",
  "XtraRichEditStringId.FieldMapUniqueId": "Identificador Único",
  "XtraRichEditStringId.FieldMapWebPage": "Página Web",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "Todos los ficheros",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "Todos los ficheros Soportados",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "Mapa de Bits",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "Documento Microsoft Word",
  "XtraRichEditStringId.FileFilterDescription_DocmFiles": "Word Macro-Enabled Document",
  "XtraRichEditStringId.FileFilterDescription_DotFiles": "Word 97-2003 Template",
  "XtraRichEditStringId.FileFilterDescription_DotmFiles": "Word Macro-Enabled Template",
  "XtraRichEditStringId.FileFilterDescription_DotxFiles": "Word Template",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "Metadatos mejorados de Microsoft",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "Publicación Electrónica",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcFiles": "Word XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledFiles": "Word Macro-Enabled XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledTemplateFiles": "Word Macro-Enabled XML Template",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcTemplateFiles": "Word XML Template",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "Formato de Gráficos Intercambiables",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "Lenguaje de marcado de hipervínculos",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "JPEG Formato Archivo de Intercambio",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "Ficheros Web, archivo simple",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "Documento de Texto OpenDocument",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Documento Word 2007",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "Formato de Documento Portable",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "PNG",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "Texto con formato enriquecido",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "Ficheros de Texto",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "Formato de Gráficos Etiquetados",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "Metadatos de Windows",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "Documento XML",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Documento Xaml",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "Cualquier carácter del conjunto",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "Cualquier carácter ausente en el conjunto",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "Cualquier carácter individual",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "Inicio de Línea",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "Inicio de Palabra",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "Final de Línea",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "Final de Palabra",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "Carácter especial escapado",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "Entero",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "Uno o más",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "O",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "Espacio y tabulación",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "Expresión de etiqueta",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "Expresión etiquetado {0}",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "Carácter palabra",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "Cero o más",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "Centrada",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "Izquierda",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "Derecha",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "Carácter",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "InsertColumnBreak",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "Magen Interno",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "Margen izquierdo",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "Margen",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "Margen Externo",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "Salto de página",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "Margen derecho",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "Inferior",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "Centrar",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "Interior",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "Exterior",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "Superior",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "Margen inferior",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "Magen Interno",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "Línea",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "Margen",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "Margen Externo",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "Salto de página",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "Párrafo",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "Margen superior",
  "XtraRichEditStringId.FontStyle_Bold": "Negrita",
  "XtraRichEditStringId.FontStyle_BoldItalic": "Cursiva Negrita",
  "XtraRichEditStringId.FontStyle_Italic": "Cursiva",
  "XtraRichEditStringId.FontStyle_Regular": "Regular",
  "XtraRichEditStringId.FontStyle_Strikeout": "Tachado",
  "XtraRichEditStringId.FontStyle_Underline": "Subrayado",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "Editar hipervínculo",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "Insertar hipervínculo",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "<Ninguno>",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "Selección en documento",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "El número debe estar entre {0} y {1}.",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "El número debe estar entre {0} y {1}.",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl",
  "XtraRichEditStringId.KeyName_Shift": "Cambio",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "Carácter {0}",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "Insertar Hipervínculo",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "Normal",
  "XtraRichEditStringId.MenuCmd_Accept": "Accept",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "Accept and Move to Next",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "Keep this change and move one to the next one.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "Click for additional options, such as accepting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "Añadir Texto",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "Añadir el párrafo actual como entrada en la Tabla de Contenidos",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "&Añadir Espacio Después del Párrafo",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "&Añadir Espacio Antes del Párrafo",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "Agregar al Diccionario",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "Agregar al Diccionario",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "Todos los autores",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "Borrar",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "BackSpaceKey",
  "XtraRichEditStringId.MenuCmd_Bookmark": "Marcador...",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "Marcador...",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "Hojear Impresión",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "Imprimir documento con capacidad de hojear.",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "Hojear Vista Previa",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "Hojear páginas en el buscador antes de imprimir.",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "Capitalizar Cada Palabra",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "Capitalizar cada palabra.",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "ChangeCharacterStyle",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "ChangeCharacterStyle",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "Columnas",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "Columnas",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "ChangeColumnSize",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "ChangeColumnSizeDescription",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "Color de Pluma",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "Cambiar el color de la pluma.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "Estilo de Línea",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "Cambiar el estilo utilizado para pintar los bordes.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "Grosor de Línea",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "Cambiar el grosor de la línea utilizada para dibujar los bordes.",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "Display for Review",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "Choose how you'd like to see changes in this document.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "Posición",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "Posicione el objeto seleccionado en la página. El texto envolverá el objeto de forma automática",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "Rellenar Figura",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "Rellenar la figura con el color seleccionado.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "Contorno de Figura",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "Especificar el color del contorno de la figura seleccionada.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "Peso del Contorno de Figura",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "Especificar la anchura del perfil de la figura seleccionada.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "Doblar Texto",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "Cambiar la manera de fluir el texto al rededor del objeto seleccionado. Para configurar el objeto para moverlo juntamente con el texto, seleccione \"En Línea Con Texto\"",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "Color de fuente",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "Cambia el color de la fuente.",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "Fuente",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "Cambiar fuente.",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "Tamaño Fuente",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "Cambiar tamaño de la fuente.",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "Hyphenation",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "Turn on hyphenation to create more uniform spacing and save space in your document.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "ChangeIndent",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": "ChangeIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "Idioma",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "Configurar el idioma utilizado para comprobar la ortografía y la gramática del texto seleccionado.",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(sin sugerencias ortográficos)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(sin sugerencias ortográficos)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "NoProof",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "Change NoProof",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "Color de Página",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "Escoge un color para el fondo de la página.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "Sombreado",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "Cambiar el fondo detrás del párrafo seleccionado.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "IncrementParagraphFirstLineIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "IncrementParagraphFirstLineIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "ChangeParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "ChangeParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "Espaciado de Líneas",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "Cambie el espaciado entre líneas de texto.\n\nTambién puede personalizar la cantidad de espacio añadido antes y después del párrafo.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "ChangeParagraphStyle",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "ChangeParagraphStyle",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "Números de Línea",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "Añadir los números de línea en el margen a cada línea del documento.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "Márgenes",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "Seleccione el tamaño de los márgenes para todo el documento o la selección actual.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "Orientación de la Página",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "Cambia la orientación entre vertical y horizontal.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "Tamaño",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "Escoge el tamaño del papel a usar para la sección actual.",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "Estilos rápidos",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "Cambia el estilo del texto usando una galería de estilos.",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "Bordes",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "Alineación",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "Personalizar la alineación de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "Alineamiento de Celda",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "Alineamiento de Celda",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "Sombreado",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "Colorear el fondo por detrás de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "Cambiar Mayúsculas/Minúsculas",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "Cambiar el texto seleccionado a MAYÚSCULAS, minúsculas, or otras combinaciones.",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "Comprobar ortografía",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "Comprobar ortografía",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "Eliminar Formateo",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "Eliminar el formato del texto seleccionado, dejando texto sin atributos.",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "ClearUndo",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "Vaciar Memoria Deshacer",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "Cerrar Cabecera y Pie",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "Herramientas para cerrar la Cabecera y Pie.\n\nTambién puede hacer un clic doble sobre el documento para volver a editarlo.",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "Contraer o expandir la barra de fórmulas",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": "Contraer o expandir la barra de fórmulas (Ctrl + Mayús + U)",
  "XtraRichEditStringId.MenuCmd_Comment": "Ver comentarios",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "Elegir resaltar comentarios en el documento o no.",
  "XtraRichEditStringId.MenuCmd_ConvertNotesDescription": "Convert Note",
  "XtraRichEditStringId.MenuCmd_ConvertToEndnote": "Convertir en nota al final",
  "XtraRichEditStringId.MenuCmd_ConvertToFootnote": "Convertir en nota al pie",
  "XtraRichEditStringId.MenuCmd_CopySelection": "Copiar",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "Copia la selección al portapapeles.",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "Crear Marcador",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "Crear Marcador",
  "XtraRichEditStringId.MenuCmd_CreateField": "Crear campo",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "Crear campo",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "CreateHyperlink",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "CreateHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_CutSelection": "Cortar",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "Elimina la selección del documento y la añade al portapapeles.",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "Encoger Fuente",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "Reduce el tamaño de la fuente.",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "DecrementFontSize",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "Disminuir Sangría",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": "Reduce el nivel de sangría del párrafo.",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "DecrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "DecrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": "DecrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "Disminuir el nivel de boceto",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "Disminuir el nivel de boceto",
  "XtraRichEditStringId.MenuCmd_Delete": "Eliminar",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "Eliminar todos los comentarios",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "Eliminar todos los comentarios.",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "Eliminar todos los comentarios que se muestra",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "Eliminar todos los comentarios muestran.",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "DeleteBackCore",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "DeleteBackCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "Eliminar Marcador",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "Eliminar Marcador",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "Eliminar comentario",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "Eliminar comentario",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "DeleteCore",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "DeleteCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "Eliminar",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "DeleteNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "Eliminar comentario",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "Borrar el comentario seleccionado.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "Eliminar Palabra Duplicada",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "Eliminar Palabra Duplicada",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "Eliminar Tabla",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "Eliminar Celdas",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "Eliminar filas, columnas o celdas",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "Eliminar Celdas...",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "Eliminar Columnas",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "Eliminar Columnas",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "Eliminar Tabla Completa",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "Eliminar",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": "Eliminar filas, columnas, celdas o la tabla entera",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "Eliminar Filas",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "Eliminar Filas",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "Eliminar Estilo de la Tabla",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": "DeleteWordCore",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "DeleteWordCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "Deseleccionar Todo",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "Restablecer selección del documento.",
  "XtraRichEditStringId.MenuCmd_DraftView": "Vista Borrador",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "Vista Borrador",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "Editar hipervínculo...",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "Editar hipervínculo...",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "Pie",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "Editar el pie del documento.\n\nEl contenido del pie aparecerá en la parte inferior de cada página impresa.",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "Cabecera",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "Editar la cabecera del documento.\n\nEl contenido de la cabecera se mostrará en la parte superior de cada página.",
  "XtraRichEditStringId.MenuCmd_EditTOC": "Editar Tabla de contenido...",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "Encrypt with Password",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "Password-protect this document.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnterKey": "EnterKey",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "EnterKeyDescription",
  "XtraRichEditStringId.MenuCmd_Find": "Buscar",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindDescription": "Busca texto en el documento.",
  "XtraRichEditStringId.MenuCmd_FindNext": "Buscar Siguiente",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "Vuelve a buscar hacia delante.",
  "XtraRichEditStringId.MenuCmd_FindPrev": "Buscar Anterior",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "Vuelve a buscar hacia atrás.",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "Primer Registro",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "Primer Registro",
  "XtraRichEditStringId.MenuCmd_FitHeight": "Ajuste de altura",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "Ajusta el factor de zoom del documento para adaptarse a la altura de toda la página con las dimensiones de superficie edición.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "Ajuste a la página",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "Ajusta el factor de zoom del documento para adaptarse a las dimensiones de superficie edición toda la página.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "Encaje ancho",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "Ajusta el factor de zoom del documento para ajustarse al ancho de página entera a las dimensiones de superficie edición.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "Traer al Frente",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": "Traer al frente el objeto seleccionado, para no taparlo con otros objetos por delante de él.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "Traer al Frente",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": "Traer al frente el objeto seleccionado, para no taparlo con otros objetos por delante de él.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "Traer el Frente del Texto",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "Traer al frente",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Traer al frente el objeto seleccionado, para no taparlo con otros objetos por delante de él.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "Enviar Al Fondo",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Enviar el objeto al Fundo , para taparlo con otros objetos por delante de él.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "Enviar al Fondo",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "Enviar el objeto al Fundo , para taparlo con otros objetos por delante de él.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "Enviar Detrás del Texto",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "Enviar al fondo",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "Enviar el objeto seleccionado detrás de otros objetos.",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "Subíndice",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "Crea letras minúsculas debajo de la linea base del texto.",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "Superíndice",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "Crea letras minúsculas encima de la linea de texto.",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "Mostrar próximo",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "Navegar a la próxima cabecera o pie",
  "XtraRichEditStringId.MenuCmd_GoToPage": "Ir a Página",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "Ir a Página",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "Ir al Pie",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "Activar el pie de página para su edición.",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "Ir a la Cabecera",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "Activar la cabecera de página para su edición.",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "Mostrar previo",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "Navegar a la próxima cabecera o pie",
  "XtraRichEditStringId.MenuCmd_HighlightText": "Color de resaltado del texto",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "Cambia el aspecto del texto como si estuviera marcado con un marcador.",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "Hipervínculo...",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "Hipervínculo...",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "Ignorar todo",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "Ignorar todo",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "Ignorar",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "Ignorar",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "Agrandar Fuente",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "Aumenta el tamaño de la fuente.",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "Aumentar Sangría",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "Aumenta el nivel de sangría del párrafo.",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "IncrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "IncrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "Incrementar el nivel de boceto",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "Incrementar el nivel de boceto",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "Saltos",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "Añadir página, sección o saltos de columnas al documento.",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "Viñetas",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "Inicia una lista con viñetas.",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "Insertar Título",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "Añadir un título al imagen.\n\nEl título aparecerá por debajo del objeto que describe.",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "InsertColumnBreak",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "InsertColumnBreak",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEndnote": "Insertar nota al final",
  "XtraRichEditStringId.MenuCmd_InsertEndnoteDescription": "Insertar nota al final",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "Título de Ecuación",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "Añadir un título de ecuación.",
  "XtraRichEditStringId.MenuCmd_InsertField": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "InsertField",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "Título de Figura",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "Añadir un título a la figura.",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "Insertar imagen desde fichero",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Insertar una imagen de un fichero.",
  "XtraRichEditStringId.MenuCmd_InsertFootnote": "Insertar nota al pie",
  "XtraRichEditStringId.MenuCmd_InsertFootnoteDescription": "Insertar nota al pie",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "InsertHyperlink",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "InsertHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "InsertHyphen",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "InsertMergeField",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "InsertMergeFieldDescription",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "Lista Multinivel",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "Inicia una lista de varios niveles.",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "InsertNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertObject": "Objeto",
  "XtraRichEditStringId.MenuCmd_InsertObjectDescription": "Inserte un objeto incrustado como, por ejemplo, otro documento de Word o un gráfico de Excel.",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "Salto de página",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "Salto de página",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "Comenzar la siguiente página en la posición actual.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "Empieza una nueva página en la posición actual.",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "Insertar Recuento de Páginas Totales",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "Insertar el recuento de páginas totales en este documento.",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "Insertar Número de Página",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "Insertar números de página en este documento.",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "Insertar Imagen",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "Inserta una imagen desde un fichero.",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "Sección (Continuo)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "Insertar un salto de sección y comenzar una sección nueva en la misma página.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "Sección (Página Par)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": "Insertar un salto de sección y comenzar una sección nueva en la próxima página par.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "Sección (Próxima Página)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "Insertar un salto de sección y comenzar una sección nueva en la próxima página.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "Sección (Página Impar)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": "Insertar un salto de sección y comenzar una sección nueva en la próxima página impar.",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "Numeración",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "Inicia una lista numerada.",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "Insertar símbolo",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "Insertar símbolos que no aparecen en su teclado, como símbolos de copyright, marcas comerciales, marcas de párrafo o caracteres Unicode.",
  "XtraRichEditStringId.MenuCmd_InsertTab": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTable": "Tabla",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "Insertar Celdas",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "Insertar Celdas",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "Insertar Columnas a la Izquierda",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "Añadir una nueva columna, justamente a la izquierda de la columna seleccionada",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "Insertar Columnas a la Derecha",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "Añadir una nueva columna, justamente a la derecha de la columna seleccionada",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "Insertar una tabla en el documento.",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "Insertar",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "Tabla de Contenido",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "Añadir una Tabla de Contenido al documento.\n\nDespués de añadir la Tabla de Contenidos, pulse el botón Añadir Texto para añadir entradas a la tabla.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "Tabla de Ecuaciones",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "Insertar una Tabla de Ecuaciones al documento.\n\nUna Tabla de Ecuaciones incluye una lista de todas las ecuaciones en el documento.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "Tabla de Figuras",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "Insertar una Tabla de Figuras al documento.\n\nUna Tabla de Figuras contiene todas las figuras en el documento.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "Insertar Tabla de Figuras",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "Insertar una Tabla de Figuras al documento.\n\nUna Tabla de Figuras contiene todas las figuras o ecuaciones en el documento.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "Tabla de Tablas",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "Insertar Tabla de Tablas al documento.\n\nUna Tabla de Tablas incluye una lista de todas las tablas en el documento.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "Insertar Filas Encima",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "Añadir una nueva fila directamente por encima de la fila actual.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "Insertar Filas Abajo",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "Añadir una nueva fila directamente por debajo de la fila actual.",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "Título de Tablas",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "Añadir un título de tabla.",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "InsertTabToParagraph",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "InsertTabToParagraphDescription",
  "XtraRichEditStringId.MenuCmd_InsertText": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "Cuadro de Texto",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "Insertar un cuadro de texto en el documento.",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_Language": "Idioma",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "ChangeLanguage",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "Último Registro",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "Último Registro",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "Abrir",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "Abrir un documento.",
  "XtraRichEditStringId.MenuCmd_LockField": "campo de bloqueo",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "campo de bloqueo",
  "XtraRichEditStringId.MenuCmd_LockTracking": "Lock Tracking",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "Use a password to keep others from turning off Track Changes",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "Intercalación de correo",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "Intercalación de correo",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "minúsculas",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": "Cambiar el texto seleccionado a minúsculas.",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "MUYÚSCULAS",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": "Cambiar el texto seleccionado a mayúsculas.",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "Fusionar Celdas",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "Fusionar las celdas seleccionadas en una sola celda.",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "ModifyHyperlink",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "ModifyHyperlinkDescription",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "Modificar Estilo de la Tabla",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "MoveBackward",
  "XtraRichEditStringId.MenuCmd_MoveForward": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "MoveForward",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": "MoveLineDown",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": "MoveLineUp",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "MoveNextPage",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "MoveNextParagraph",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "MoveNextWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "MovePreviousPage",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "MovePreviousParagraph",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "MovePreviousWord",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "MoveScreenDown",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "MoveScreenUp",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "MoveToBeginBeginOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "MoveToEndOfDocument",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "MoveToEndOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "MoveToBeginOfLine",
  "XtraRichEditStringId.MenuCmd_NewComment": "Nuevo comentario",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "Agregar un Comentario sobre la selección.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "Nuevo",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "Crea un nuevo documento.",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "Nuevo Estilo de Tabla",
  "XtraRichEditStringId.MenuCmd_NextComment": "Siguiente",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "Navegar con el siguiente comentario en el documento.",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "Próximo Registro",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "Próximo Registro",
  "XtraRichEditStringId.MenuCmd_NextEndnote": "Siguiente nota al final",
  "XtraRichEditStringId.MenuCmd_NextEndnoteDescription": "Mostrar la siguiente nota al final",
  "XtraRichEditStringId.MenuCmd_NextFootnote": "Siguiente nota al pie",
  "XtraRichEditStringId.MenuCmd_NextFootnoteDescription": "Va a la siguiente nota al pie",
  "XtraRichEditStringId.MenuCmd_NextRevision": "Siguiente",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "Jump to the next tracked change.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_NoteOptions": "Opciones de Notas...",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "Abrir hipervínculo",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "OpenHyperlinkAtCaretPosition",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "OpenHyperlinkAtCaretPositionDescription",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "Abrir hipervínculo",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "Centrar",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "Centrar texto.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "Align text to both left and right margins.\n\nSpace will be added between characters and words. If the last line is short, extra spaces will be added between the characters to make it match the width of the paragraph.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "Justificar",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "Alinea el texto en los margenes izquierdo y derecho y agrega espacios adicionales entre palabras si es necesario.\n\nDa la impresión de una página bien ordenada.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "Justify High",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "Align text to both left and right margins.\n\nSpecifies that a paragraph uses the kashida with the widest length for Arabic text. For other languages, paragraph text is justified with the widest inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "Justify Low",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses small length Kashida. In other languages, text is justified with short inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "Justify Medium",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "Align text to both left and right margins.\n\nIf the language is Arabic, the paragraph uses medium-length Kashida. In other languages, text is justified with wider inter-word spacing.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "Alinear texto a la izquierda",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "Alinear texto a la izquierda.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "Alinear texto a la derecha",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "Alinea texto a la derecha.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "Thai Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "Align text to both left and right margins by adding extra space between each two characters for languages with tone mark and vowel mark.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "Left-to-Right Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "Set the text to read from right to left.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "Right-to-Left Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "Set the text to read from left to right.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "Suprimir Guiones para el Párrafo Actual",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "Suprimir Guiones para el Párrafo Actual",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "Suprimir Números de Línea para Párrafo Actual",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "Suprimir Números de Línea para Párrafo Actual",
  "XtraRichEditStringId.MenuCmd_Paste": "Pegar",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "Pegar el contenido del Portapapeles.",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "Ficheros",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "Insertar el contenido del Portapapeles como un objeto embebido.",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "Formato HTML",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "Insertar el contenido del Portapapeles en formato HTML.",
  "XtraRichEditStringId.MenuCmd_PasteImage": "Insertar imagen desde fichero",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "Insertar el contenido del Portapapeles en formato de imagen.",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "Metaarchivo",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "Insertar el contenido del Portapapeles en formato metaarchivo.",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "Texto sin formato",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "Insertar el contenido del Portapapeles como texto sin formato.",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "Texto con Formato (RTF)",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "Insertar el contenido del Portapapeles como texto con fuente y formateado.",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "Texto Formateado (XAML)",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "Insertar el contenido del Portapapeles como texto con fuente.",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "Anterior",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "Navigate to the previous comment in the document.",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "Registro Anterior",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "Registro Anterior",
  "XtraRichEditStringId.MenuCmd_PreviousEndnote": "Nota al final anterior",
  "XtraRichEditStringId.MenuCmd_PreviousEndnoteDescription": "Ir a nota al final anterior",
  "XtraRichEditStringId.MenuCmd_PreviousFootnote": "Nota al pie anterior",
  "XtraRichEditStringId.MenuCmd_PreviousFootnoteDescription": "Ir a nota al pie anterior",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "Anterior",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "Jump to the previous tracked change.",
  "XtraRichEditStringId.MenuCmd_Print": "&Imprimir",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "Selecciona una impresora, número de copias y otras opciones de impresión antes de imprimir.",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "&Vista previa",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "Obtiene una vista previa de las páginas y las modifica antes de imprimir.",
  "XtraRichEditStringId.MenuCmd_PrintView": "Vista de Impresión",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "Vista de Impresión",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "Proteger Documento",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "Proteger el documento, evitando su edición, especificando una contraseña.",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "Impr&esion Rápida",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "Envié el documento directamente a la impresora por defecto sin cambios.",
  "XtraRichEditStringId.MenuCmd_ReadingView": "Vista de lectura",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "Vista de lectura",
  "XtraRichEditStringId.MenuCmd_Redo": "Rehacer",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "Rehacer",
  "XtraRichEditStringId.MenuCmd_Reject": "Reject",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "Reject and Move to Next",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "Undo this change and move on to the next one.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "Click for additional options, such as rejecting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "Eliminar hipervínculo",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "Eliminar hipervínculo",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "Quitar Espacios Después del Párrafo",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "Quitar Espacios Antes del Párrafo",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_Replace": "Reemplazar",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "ReplaceAllBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "ReplaceAllBackwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "ReplaceAllForward",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "ReplaceAllForwardDescription",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "ReplaceBackward",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "Reemplaza texto en el documento.",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "ReplaceForward",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "ReplaceText",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "ReplaceTextDescription",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "Restablecer Formato de Caracteres",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "Establecer la selección actual como el formato por defecto.",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "Sin Bordes",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_Reviewers": "Revisores",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "Seleccionar qué comentarios del revisor para resaltar en el documento.",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "Panel de revisión",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "Show or hide the document comments in a separate window.",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "Guardar",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "Guardar como",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "Guardar como",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "Guardar",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "Desplazar Abajo",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "Desplazar Abajo",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "ScrollToPage",
  "XtraRichEditStringId.MenuCmd_SelectAll": "Seleccionar Todo",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "Seleccionar todo el contenido del documento.",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "Seleccionar Marcador",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "Seleccionar Marcador",
  "XtraRichEditStringId.MenuCmd_SelectComment": "Seleccione comentario",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "Seleccione comentario",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "SelectFieldNextToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "SelectFieldNextToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "SelectFieldPrevToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "SelectFieldPrevToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectTable": "Seleccionar Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "Seleccionar Celda de la Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "Seleccionar Celda de la Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "Seleccionar Columnas de la Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "Seleccionar Columnas de la Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "Seleccionar Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "Seleccionar",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "Seleccionar la celda, fila, columna o tabla actual",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "Seleccionar Fila de la Tabla",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "Seleccionar Fila de la Tabla",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "Detrás del Texto",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "Inferior Centrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "Posicionar abajo centrado con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "Inferior Izquierda",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "Posicionar abajo a la izquierda con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "Inferior Derecha",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "Posicionar abajo a la derecha con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "Por Delante del Texto",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "Medio Centrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "Posicionar en medio centrado con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "Medio Izquierda",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "Posicionar en medio a la izquierda con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "Medio Derecha",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "Posicionar en medio a la derecha con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "A Través",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "Justo",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "Arriba y Abajo",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "Superior Centrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "Posicionar arriba centrado con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "Superior Izquierda",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "Posicionar arriba a la izquierda con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "Superior Derecha",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "Posicionar arriba a la derecha con Texto Envolvente Cuadrado",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "Automática",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "Turns on Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "Ninguno",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "Turns off Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "Apaisado",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "Moderado\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "Estrecho\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "Normal\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "No Mostrar en Tabla de Contenido",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "No Mostrar en Tabla de Contenido",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "Nivel 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "Nivel 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "Nivel 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "Nivel 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "Nivel 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "Nivel 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "Nivel 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "Nivel 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "Nivel 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "Nivel 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "Nivel 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "Nivel 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "Nivel 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "Nivel 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "Nivel 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "Nivel 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "Nivel 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "Nivel 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "Nivel {0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "Nivel {0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "Retrato",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "Columnas",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": "Partir el texto en dos o más columnas.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "Continuo",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "Continuo",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "Ninguno",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "Sin números de línea",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "Reiniciar Cada Página",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "Reiniciar Cada Página",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "Reiniciar Cada Sección",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "Reiniciar Cada Sección",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "Una",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "Una columna.",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "Tres",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "Tres columnas.",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "Dos",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "Dos columnas.",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "1.0",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "Ancho\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "Mostrar Todos los Códigos de Campos",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "Mostrar Todos los Códigos de Campos",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "Mostrar Todos los Resultados de Campos",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "Mostrar Todos los Resultados de Campos",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "Marcador",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "Crear un punto de libro para asignar un nombre a un punto específico dentro del documento.\n\nPuede crear hipervínculos que salten directamente al punto de libro.",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "Borders and Shading",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "Explorar opciones de bordes adicionales, como el color de línea y ancho de línea",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "Más Columnas",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "Mostrar el diálogo de Columnas para personalizar las anchuras de las columnas.",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "Comentario",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "Mostrar el cuadro de diálogo comentario.",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "Propiedades del documento",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "Mostrar el cuadro de diálogo de Propiedades.",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "Modificar Estilos",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "Mostrar la pantalla de Edición de Estilos.",
  "XtraRichEditStringId.MenuCmd_ShowEndnote": "Ir a nota al final",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "Diseño",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "Mostrar la pantalla de Diseño",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "Fuente",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "Muestra el cuadro de dialogo de fuente.",
  "XtraRichEditStringId.MenuCmd_ShowFootnote": "Ir a nota al pie",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "Insertar Hipervínculo",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "Crear un enlace a una página Web, una imagen, una dirección de correo o un programa.",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "Hyphenation Options...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "Change the hyphenation behavior of the selected text.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "Insertar Campo Fusionado",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "Añadir un campo al documento de una lista o de una tabla de datos.",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "Opciones de Números de Línea",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "Opciones de Números de Línea",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "Opciones de Espaciado de Líneas...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "Show Markup",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "Choose what types of markup to show in your document.",
  "XtraRichEditStringId.MenuCmd_ShowNotes": "Mostrar notas",
  "XtraRichEditStringId.MenuCmd_ShowNotesDescription": "Va a las notas al pie o notas al final",
  "XtraRichEditStringId.MenuCmd_ShowNotesForm": "Notas al pie",
  "XtraRichEditStringId.MenuCmd_ShowNotesFormDescription": "Permite comprobar más opciones de formato para notas al pie y notas finales",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "Lista Enumerada",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "Mostrar la ventana de Listas Numeradas.",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "Márgenes Personalizados",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "Más Tamaños de Papel",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "Configuración Página",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "Mostrar diálogo de Configuración de Página.",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "Párrafo",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "Muestra el cuadro de dialogo de párrafo.",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "Pegado Especial",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "Pegado Especial",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "Permisos de Edición de Rangos",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "Permisos de Edición de Rangos",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "Símbolo",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "Mostrar la ventana de Símbolos.",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "Márgenes de Celda",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "Personalizar los márgenes de las celdas y sus espaciados.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "Propiedades",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "Mostrar el diálogo de Propiedades de Tabla para cambiar las propiedades avanzadas como sangría y doblado de texto.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "Mostrar el diálogo de Propiedades de Tabla",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "Propiedades de Tabla",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "Tabulaciones",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "Tabulaciones",
  "XtraRichEditStringId.MenuCmd_SimpleView": "Vista Simple",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "Vista Simple",
  "XtraRichEditStringId.MenuCmd_SplitTable": "Partir la Tabla",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "Partir las Celdas",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "Partir las celdas seleccionadas en múltiples celdas nuevas",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "Partir Celdas...",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "Partir a tabla en dos tablas.\nLa fila seleccionada se convertirá en la primera fila de la nueva tabla.",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "Vista Borrador",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "Visualizar el documento como un borrador para editar rápidamente el texto.\n\nCiertos elementos del documento no serán visible con esta vista.",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "Distribución de Impresión",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "Visualizar el documento tal como se verá una vez impreso.",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "Vista Simple",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "Visualizar el documento como un memo simple.\n\nEsta vista ignora la distribución de la página para resaltar la edición del texto.",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "Insertar",
  "XtraRichEditStringId.MenuCmd_TabKey": "TabKey",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "TabKey",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "Conmutar todos los campos",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "Alternar entre mostrar códigos de campo y sus resultados en el documento",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "Columna de Banda",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "Mostrar las columnas de banda diferentes para columnas pares e impares.\n\nEsto facilita la lectura de las columnas.",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "Filas Agrupadas",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "Mostrar las filas de banda diferentes para filas pares e impares.\n\nEsto facilita la lectura de las tablas.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "Primera Página Diferente",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "Especificar una cabecera y pie único para la primera página del documento.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "Páginas Pares e Impares Diferentes",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "Indicar que las páginas pares e impares deberían tener cabeceras y pies diferentes.",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "Conmutar Códigos de Campos",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "Conmutar Códigos de Campos",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "Cambiar campo bloqueado",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "Cambiar campo bloqueado",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "Primera Columna",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "Mostrar un formato especial para la primera columna de la tabla.",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "Fila de Cabecera",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "Mostrar un formato especial para la primera fila de la tabla.",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "Negrita",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "Cambiar el texto seleccionado a negrita.",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "Doble Tachado",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "Doble Tachado",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "Subrayado Doble",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Subrayado Doble",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "Cursiva",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "Aplica el formato de cursiva al texto seleccionado.",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "Tachado",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "Traza una línea en medio del texto seleccionado.",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "Subrayado",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "Subrayar el texto seleccionado.",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "Enlazar al Anterior",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "Enlazar a la sección anterior para indicar que la cabecera y pie de la sección actual contendrán el mismo contenido que el anterior.",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "Oculto",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "Oculto.",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "Última Columna",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "Mostrar un formato especial para la última columna de la tabla.",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "Total Fila",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "Mostrar un formato especial para la última fila de la tabla.",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "Regla Horizontal",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "Visualizar la regla horizontal, utilizada para medir y alinear objetos del documento",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "Visualizar Cuadrículas",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "Mostrar u ocultar cuadrículas de las tablas.",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "Regla Vertical",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "Visualizar la regla vertical, utilizada para medir y alinear objetos del documento",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "Comprobar Ortografía Mientras Escribe",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "Comprobar Ortografía Mientras Escribe",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "Ajustar Contenido",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "Ajustar contenido a la tabla.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "Ajustar",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "Ajusta las anchuras de las columnas, basándose en el texto contenido.\n\nPuede establecer la anchura de la tabla basándose en el tamaño de la ventana o volver a establecer as anchuras fijas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "Ajustar Ventana",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "Ajustar Tabla a la ventana",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "Todos los Bordes",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "Borde Inferior",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "Alinear Inferior Centrado",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "Centrar el texto y alinearlo con el borde inferior de la celda.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "Alinear Inferior Izquierda",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "Justificar el texto a la izquierda y alinearlo con el borde inferior de la celda.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "Alinear Inferior Derecha",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "Justificar el texto a la derecha y alinearlo con el borde inferior de la celda.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "Borde Interior",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "Borde Interior Horizontal",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "Borde Interior Vertical",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "Borde Izquierda",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "Alinear al Centro",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "Centrar el texto horizontal y verticalmente dentro de la celda.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "Alinear Centro Izquierda",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "Centrar el texto verticalmente y alinearlo a la izquierda.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "Alinear Centro Derecha",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "Centrar el texto verticalmente y alinearlo a la derecha.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "Borde Exterior",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "Borde Derecha",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "Borde Superior",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "Personalizar los bordes de las celdas seleccionadas.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "Alinear Centro Superior",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "Centrar el texto y alinearlo con el borde superior.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "Alinear Superior Izquierda",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "Centrar el texto con el borde superior izquierda.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "Alinear Superior Derecha",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "Centrar el texto con el borde superior derecha.",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "Columna de Anchura Fija",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "Establecer el tamaño de la tabla a una anchura fija.",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "cONMUTAR mAYÚSCULAS",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "cONMUTAR mAYÚSCULAS.",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "Visualizar Datos Fusionados",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "Reemplazar los campos de fusión con los datos reales para ver el resultado final.",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "Ocultar/Mostrar ¶",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "Muestra los símbolos de fin de párrafo y otros símbolos ocultos.",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "Track Changes",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "Keep track of changes made to this document.",
  "XtraRichEditStringId.MenuCmd_Undo": "Deshacer",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "Deshacer",
  "XtraRichEditStringId.MenuCmd_UnlockField": "Campo de desbloqueo",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "Campo de desbloqueo",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "Desproteger Documento",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "Desproteger Documento",
  "XtraRichEditStringId.MenuCmd_UpdateField": "Actualizar Campo",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "Actualizar Campo",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "Actualizar Campos",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "Actualizar Campos",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "Actualizar Tabla",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "Actualizar la Tabla de Contenido para reflejar correctamente en número de página.",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "Actualizar tabla",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "Actualizar la tabla de figuras para incluir todas las entradas en el documento.",
  "XtraRichEditStringId.MenuCmd_Zoom": "Ampliación",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "Ampliación",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "Acercar",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "Acercar",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "Alejar",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "Alejar",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "Existe un punto de libro con éste mismo nombre. ¿Remplazarlo?",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "You cannot group inline shapes.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "Cannot group shapes that are located in different subdocuments.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "No se puede eliminar el estilo por defecto.",
  "XtraRichEditStringId.Msg_CantPasteFormField": "You cannot paste form fields into comments, headers, footers, footnotes, endnotes, or text boxes.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "No se puede restablecer el estilo por defecto.",
  "XtraRichEditStringId.Msg_ClickToComment": " commented:",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "Haga clic para seguir el enlace",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "¿Quiere comenzar la búsqueda al principio del documento?",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "¿Quiere comenzar la búsqueda al final del documento?",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "¿Quiere buscar en el contenido restante del documento?",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "No se puede crear el hipervínculo. El hipervínculo en el rango indicado ya está en uso.",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "¿Desea eliminar el estilo {0} del documento?",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "Error: la posición o rango especificado pertenece a otro documento o subdocumento",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "¡La contraseña no es correcto!",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "La confirmación de la contraseña no coincide.",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "Un marcador con este nombre ya existe",
  "XtraRichEditStringId.Msg_EncryptedFile": "Actualmente no se admiten archivos encriptados",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "This file may have been tampered with or corrupted and the contents should not be trusted. Do you wish to continue opening this file?",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "El valor introducido no coincide con el tipo especificado. El valor se almacenará como texto.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "Error: imposible borrar el enlace seleccionado",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "A group cannot contain a canvas.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "Los nombre de puntos de libro tienen que empezar con una letra y deberían contener solamente caracteres alfanuméricos y subrayos.",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "Error: el número no se puede mostrar en el formato especificado.",
  "XtraRichEditStringId.Msg_IncorrectOleObjectInsertType": "This OLE object is linked and cannot be saved. You can save only embedded OLE objects.",
  "XtraRichEditStringId.Msg_IncorrectPassword": "The password you supplied is not correct. Verify that the CAPS LOCK key is off and be sure to use the correct capitalization.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "Patrón incorrecto.",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "Encrypted file integrity check failed!\nThis file may have been tampered with or corrupted.",
  "XtraRichEditStringId.Msg_InternalError": "Error interno",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "Error: llamada a BeginInit dentro de BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "Error: llamada a BeginUpdate dentro de BeginInit",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "The value must be between {0} and {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "Error: el documento original y el documento destino son diferentes",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "The dictionary format is incorrect.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "El número debe ser un múltiplo de {0}.",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "Error: los modelos de documento son distintos",
  "XtraRichEditStringId.Msg_InvalidEndInit": "Error: llamada a EndInit o CancelInit sin BeginInit o dentro de BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "Error: llamada a EndUpdate o CancelUpate sin BeginUpdate o dentro de BeginInit",
  "XtraRichEditStringId.Msg_InvalidFontSize": "El número debe estar entre {0} y{1}.",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "La medida debe estar entre {0} y {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "La ruta de la imagen especificada no existe.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "La imagen especificada no es válida.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "No se puede acceder al URI especificado.",
  "XtraRichEditStringId.Msg_InvalidNumber": "No es un número válido.",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "NumberingListIndex se refiere a una lista inexistente.",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "'Empezar en' debe ser entre {0} y {1} para éste formato",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "Error: el párrafo ya contiene una numeración",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "Error: referencia circular",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "Error: imposible cambiar las propiedades sin BeginInit o sin añadir objetos al documento",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "Error: imposible cambiar las propiedades sin BeginInit o sin añadir objetos al documento",
  "XtraRichEditStringId.Msg_InvalidStyleName": "Nombre de estilo no valido",
  "XtraRichEditStringId.Msg_InvalidTabStop": "No es una tabulación válida.",
  "XtraRichEditStringId.Msg_InvalidValueRange": "Valor entre {0} y{1}.",
  "XtraRichEditStringId.Msg_IsNotValid": "'{0}' no es un valor válido para el valor '{1}'",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "Los márgenes de la izquierda/derecha son demasiado grandes para la altura de la página en algunas secciones.",
  "XtraRichEditStringId.Msg_Loading": "Cargando...",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "El fichero que intenta abrir no corresponde en la extensión del fichero.",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "The MenuManager property of RichEditControl is not set.",
  "XtraRichEditStringId.Msg_MissingOperator": "!Operador ausente.",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "No se puede establecer las tabulaciones por defecto.",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "No se encontraran entradas en la tabla de contenido.",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "There aren't any tracked changes in your document.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "No se puede usar una lista numerada. La lista numerado debe añadirse a la colección Document.NumeringLists",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "Operation is not valid due to the current state of the document.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "El nombre de estilo ya existe",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "Confirmation password is not identical.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "Password required to open this file!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "Password length must be less than {0} characters long.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "Impresión no disponible. Asegúrese que los ensamblados siguientes están instalados:\n{0}\n{1}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "Se realizaron {0} reemplazos.",
  "XtraRichEditStringId.Msg_Saving": "Guardando...",
  "XtraRichEditStringId.Msg_SearchComplete": "Búsqueda finalizada.",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "Se llego al principio del documento.",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "Se termino de buscar en el documento.",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "Búsqueda en la selección terminada.",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "No se encontró el elemento buscado.",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "No se puede seleccionar la marca de libro del SubDocument inactivo.",
  "XtraRichEditStringId.Msg_SelectCommentError": "Cannot select a comment of inactive SubDocument.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "The specified shapes belong to different canvases and cannot be grouped.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "One or more shapes do not belong to the canvas and cannot be grouped.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "The specified shape is not a group.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "Error: el estilo ya contiene un enlace de estilo",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "El nombre de estilo no puede estar vacío.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "Error de sintaxis, {0}.",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "This exceeds the maximum number of columns.",
  "XtraRichEditStringId.Msg_TableIntegrityError": "Error: integridad de la tabla",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "Los márgenes superior/inferior son demasiado grandes para la anchura de la página en algunas secciones.",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "!Fin de fórmula inesperado.",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "Error! Argumento switch desconocido.",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "Error: La cadena patrón contiene comillas desemparejadas.",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "Solamente existe soporte para MS Word 97 y posterior.",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "Formato de fichero no válido",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "Error: Usando marcador eliminado",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "Error: using deleted comment",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "Error: using deleted customMark",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "Error: Usando campo párrafo",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "Error: using deleted form field",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "Error: Usando hipervínculo eliminado",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "Error: using deleted note",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "The object is already deleted.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "Error: usando párrafo eliminado",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "Error: usando sección eliminada",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "Error: usando estilo eliminado",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "Error: usando celda de tabla eliminada",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "Error: usando tabla eliminada",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "Error: usando file de tabla eliminada",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "Unidad de medida incorrecta.",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "Error: las propiedades del carácter ya no son válidas",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "Error: these compatibility settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "Error: estas propiedades personalizadas ya no son válidas",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "Error: este documento ya no es válido",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "Error: these document encryption settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "Error: las propiedades de este documento ya no son válidas",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "Error: these document track changes options are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "Error: las propiedades del párrafo ya no son válidas",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "Error: La variable del documento no se encuentra o se borró",
  "XtraRichEditStringId.Msg_WrongPasswordError": "Password check failed!",
  "XtraRichEditStringId.Msg_ZeroDivide": "!División por cero.",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "This action can be performed only on Windows operating system.",
  "XtraRichEditStringId.No": "N",
  "XtraRichEditStringId.Page": "Página {2}: [{3}]",
  "XtraRichEditStringId.RtlComment": "[{1} {0}] Comment",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "No se puede quitar una selección. Se requiere la selección por lo menos uno.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "No se puede quitar el símbolo de intercalación.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "Selección actual y la selección se cruzan.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "No se puede Agregar una colección vacía.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "La primera celda del rango seleccionado sigue la fusión vertical, que no está permitida en una colección de selección.",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "La última celda del rango seleccionado sigue la fusión vertical, que no está permitida en una colección de selección.",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "Índice estaba fuera del intervalo. Debe ser no negativo y menor que el tamaño de la colección selection.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "Parcialmente las células no están permitidas.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "Gama no puede estar vacía.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "Un rango de selección debe incluir no más de una fila",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "La colección de selección está vacía.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "The selection extends outside the table, so the entire row must be selected.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "La selección debe contener al menos un carácter.",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "Selección de los especificado se cruzan.",
  "XtraRichEditStringId.TabForm_All": "Todos",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "Centrado",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "Interior",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "Izquierda",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "Exterior",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "Derecha",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "Columna",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "Página",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "Inferior",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "Centrado",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "Interior",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "Exterior",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "Superior",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "Página",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "Párrafo",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "Nueva ventana",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "Marco Padre",
  "XtraRichEditStringId.TargetFrameDescription_Self": "Mismo marco",
  "XtraRichEditStringId.TargetFrameDescription_Top": "Página Completa",
  "XtraRichEditStringId.UnderlineNone": "(ninguno)",
  "XtraRichEditStringId.UserGroup_Administrators": "Administradores",
  "XtraRichEditStringId.UserGroup_Contributors": "Colaboradores",
  "XtraRichEditStringId.UserGroup_CurrentUser": "Usuario actual",
  "XtraRichEditStringId.UserGroup_Editors": "Editores",
  "XtraRichEditStringId.UserGroup_Everyone": "Todo el mundo",
  "XtraRichEditStringId.UserGroup_Owners": "Propietarios",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "Automática",
  "RichEditExtensionsStringId.Caption_Formatting": "Formateo",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "Títulos",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "Portapapeles",
  "RichEditExtensionsStringId.Caption_GroupCommon": "Común",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "Comentario",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "Idioma",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "Comprobar ortografía",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "Proteger",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "Seguimiento",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "Vistas de Documentos",
  "RichEditExtensionsStringId.Caption_GroupEditing": "Edición",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "Organizar",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "Estilos de Figuras",
  "RichEditExtensionsStringId.Caption_GroupFont": "Fuente",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "Cabeceras && Pies",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "Cerrar",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "Navegación",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "Opciones",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "Ilustraciónes",
  "RichEditExtensionsStringId.Caption_GroupInfo": "Info",
  "RichEditExtensionsStringId.Caption_GroupLinks": "Enlaces",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "Intercalación de correo",
  "RichEditExtensionsStringId.Caption_GroupNotes": "Footnotes",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "Fondo de página",
  "RichEditExtensionsStringId.Caption_GroupPages": "Páginas",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "Configurar Página",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "Párrafo",
  "RichEditExtensionsStringId.Caption_GroupShow": "Mostrar",
  "RichEditExtensionsStringId.Caption_GroupStyles": "Estilos",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "Símbolos",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "Tabla de Contenido",
  "RichEditExtensionsStringId.Caption_GroupTables": "Tablas",
  "RichEditExtensionsStringId.Caption_GroupText": "Texto",
  "RichEditExtensionsStringId.Caption_GroupZoom": "Ampliación",
  "RichEditExtensionsStringId.Caption_NoColor": "Sin Color",
  "RichEditExtensionsStringId.Caption_NoFill": "Sin Relleno",
  "RichEditExtensionsStringId.Caption_NoOutline": "Sin Contorno",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "Herramientas de Imágenes",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "Herramientas de Cabeceras y Pies",
  "RichEditExtensionsStringId.Caption_PageFile": "Fichero",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "Formato",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "Diseño",
  "RichEditExtensionsStringId.Caption_PageHome": "Inicio",
  "RichEditExtensionsStringId.Caption_PageInsert": "Insertar",
  "RichEditExtensionsStringId.Caption_PageLayout": "Diseño",
  "RichEditExtensionsStringId.Caption_PageMailings": "Envíos Postales",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "Distribución de Página",
  "RichEditExtensionsStringId.Caption_PageReferences": "Referencias",
  "RichEditExtensionsStringId.Caption_PageReview": "Revisar",
  "RichEditExtensionsStringId.Caption_PageView": "Vista",
  "ASPxRichEditStringId.Font": "Fuente",
  "ASPxRichEditStringId.FontStyle": "Estilos de fuente",
  "ASPxRichEditStringId.FontSize": "Tamaño de fuente",
  "ASPxRichEditStringId.FontColor": "Color de fuente",
  "ASPxRichEditStringId.UnderlineStyle": "Estilo de subrayado",
  "ASPxRichEditStringId.UnderlineColor": "Color de subrayado",
  "ASPxRichEditStringId.Effects": "Efecto",
  "ASPxRichEditStringId.AllCaps": "Todo mayúsculas",
  "ASPxRichEditStringId.Hidden": "Oculto",
  "ASPxRichEditStringId.Normal": "Normal",
  "ASPxRichEditStringId.Bold": "Negrita",
  "ASPxRichEditStringId.Italic": "Cursiva",
  "ASPxRichEditStringId.BoldItalic": "Negrita cursiva",
  "ASPxRichEditStringId.UnderlineWordsOnly": "Subrayar sólo palabras",
  "ASPxRichEditStringId.UnderlineType_None": "Ninguno",
  "ASPxRichEditStringId.UnderlineType_Single": "Solo",
  "ASPxRichEditStringId.UnderlineType_Dotted": "Punteado",
  "ASPxRichEditStringId.UnderlineType_Dashed": "Discontinua",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "El tablero de puntos",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "Guión punto punteada",
  "ASPxRichEditStringId.UnderlineType_Double": "Doble",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "Ola pesada",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "Larga rayado",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "Solo espesor",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "Punteado grueso",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "Discontinua de espesor",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "Tablero grueso punteado",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "Guión gruesos punto punteada",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "Larga gruesa discontinua",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "Doble onda",
  "ASPxRichEditStringId.UnderlineType_Wave": "Ola",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "Tablero pequeño boquete",
  "ASPxRichEditStringId.StrikeoutType_None": "Ninguno",
  "ASPxRichEditStringId.StrikeoutType_Single": "Solo",
  "ASPxRichEditStringId.StrikeoutType_Double": "Doble",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "Normal",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "Subíndice",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "Superíndice",
  "ASPxRichEditStringId.ParagraphTab0": "Sangría y espacio",
  "ASPxRichEditStringId.ParagraphTab1": "Líneas y saltos de página",
  "ASPxRichEditStringId.General": "General",
  "ASPxRichEditStringId.Alignment": "Alineación",
  "ASPxRichEditStringId.Left": "Izquierda",
  "ASPxRichEditStringId.Right": "Derecha",
  "ASPxRichEditStringId.Centered": "Centrado",
  "ASPxRichEditStringId.Justified": "Justificado",
  "ASPxRichEditStringId.OutlineLevel": "Nivel de esquema",
  "ASPxRichEditStringId.BodyText": "Texto del cuerpo",
  "ASPxRichEditStringId.Level": "Nivel",
  "ASPxRichEditStringId.Indentation": "Sangría",
  "ASPxRichEditStringId.Special": "Especial",
  "ASPxRichEditStringId.By": "Por",
  "ASPxRichEditStringId.none": "(ninguno)",
  "ASPxRichEditStringId.FirstLine": "Primera línea",
  "ASPxRichEditStringId.Hanging": "Suspender",
  "ASPxRichEditStringId.Spacing": "Espaciado",
  "ASPxRichEditStringId.Before": "Antes",
  "ASPxRichEditStringId.LineSpacing": "Interlineado",
  "ASPxRichEditStringId.At": "En",
  "ASPxRichEditStringId.After": "Después",
  "ASPxRichEditStringId.Single": "Sencillo",
  "ASPxRichEditStringId.spacing_1_5_lines": "1,5 cm",
  "ASPxRichEditStringId.Double": "Doble",
  "ASPxRichEditStringId.Multiple": "Múltiple",
  "ASPxRichEditStringId.Exactly": "Exacto",
  "ASPxRichEditStringId.AtLeast": "Al menos",
  "ASPxRichEditStringId.NoSpace": "No añade espacio entre el párrafo del mismo estilo",
  "ASPxRichEditStringId.Pagination": "Paginación",
  "ASPxRichEditStringId.KLT": "Mantener líneas juntas",
  "ASPxRichEditStringId.PBB": "Salto de página anterior",
  "ASPxRichEditStringId.Options": "Opciones",
  "ASPxRichEditStringId.Preview": "Vista previa",
  "ASPxRichEditStringId.Style": "Estilo",
  "ASPxRichEditStringId.Color": "Color",
  "ASPxRichEditStringId.SaveToServer": "Guardar archivo en servidor",
  "ASPxRichEditStringId.DownloadCopy": "Descargar una copia",
  "ASPxRichEditStringId.FolderPath": "Ruta de carpeta",
  "ASPxRichEditStringId.FileType": "Tipo de archivo",
  "ASPxRichEditStringId.FileName": "Nombre de archivo",
  "ASPxRichEditStringId.ChooseType": "Seleccione el tipo de archivo a descargar",
  "ASPxRichEditStringId.SaveFileAs": "Guardar archivo como",
  "ASPxRichEditStringId.Invalid_FileName": "Nombre de archivo no válido",
  "ASPxRichEditStringId.PathDoesNotExist": "Path does not exist.\nCheck the path and try again.",
  "ASPxRichEditStringId.Portrait": "Retrato",
  "ASPxRichEditStringId.Landscape": "Apaisado",
  "ASPxRichEditStringId.Continuous": "Continuo",
  "ASPxRichEditStringId.NewPage": "Página nueva",
  "ASPxRichEditStringId.EvenPage": "Página par",
  "ASPxRichEditStringId.OddPage": "Página impar",
  "ASPxRichEditStringId.WholeDocument": "Todo el documento",
  "ASPxRichEditStringId.CurrentSection": "Sección actual",
  "ASPxRichEditStringId.SelectedSections": "Secciones seleccionadas",
  "ASPxRichEditStringId.ThisPointForward": "De aquí en adelante",
  "ASPxRichEditStringId.Margins": "Márgenes",
  "ASPxRichEditStringId.Paper": "Papel",
  "ASPxRichEditStringId.Layout": "Diseño",
  "ASPxRichEditStringId.Top": "Superior",
  "ASPxRichEditStringId.Bottom": "Inferior",
  "ASPxRichEditStringId.Orientation": "Orientación",
  "ASPxRichEditStringId.PaperSize": "Tamaño del papel",
  "ASPxRichEditStringId.Width": "Anchura",
  "ASPxRichEditStringId.Height": "Altura",
  "ASPxRichEditStringId.Section": "Sección",
  "ASPxRichEditStringId.SectionStart": "Empezar sección",
  "ASPxRichEditStringId.HeadersAndFooters": "Encabezados y pies de página",
  "ASPxRichEditStringId.DifferentOddAndEven": "Pares e impares diferentes",
  "ASPxRichEditStringId.DifferentFirstPage": "Primera página diferente",
  "ASPxRichEditStringId.ApplyTo": "Aplicar a",
  "ASPxRichEditStringId.FromEdge": "Desde el borde",
  "ASPxRichEditStringId.Header": "Cabecera",
  "ASPxRichEditStringId.Footer": "Pie",
  "ASPxRichEditStringId.CancelButton": "Cancelar",
  "ASPxRichEditStringId.OkButton": "Aceptar",
  "ASPxRichEditStringId.OpenButton": "Abrir",
  "ASPxRichEditStringId.SaveAsButton": "Guardar",
  "ASPxRichEditStringId.DownloadButton": "Descargar",
  "ASPxRichEditStringId.SelectButton": "Seleccionar",
  "ASPxRichEditStringId.InsertButton": "Insertar",
  "ASPxRichEditStringId.ChangeButton": "Cambio",
  "ASPxRichEditStringId.CloseButton": "Cerrar",
  "ASPxRichEditStringId.InsertTable_TableSize": "Tamaño de tabla",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "Número de columnas",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "Número de filas",
  "ASPxRichEditStringId.SplitCells_MergeCells": "Combinar celdas antes de dividir",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "Células del Shift derecho",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "Células de cambio hacia abajo",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "Insertar fila entera",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "Insertar columna entera",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "Cambio de celdas izquierda",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "Células de cambio hasta",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "Eliminar la fila completa",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "Eliminar columna entera",
  "ASPxRichEditStringId.InsertImage_FromWeb": "Desde la Web (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "Desde su ordenador",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "Introducir dirección web de la imagen",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "Haga clic en Explorar de su ordenador para seleccionar un archivo gráfico a subir",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "Vista previa de la imagen",
  "ASPxRichEditStringId.TableProperties_Size": "Tamaño",
  "ASPxRichEditStringId.TableProperties_Alignment": "Alineación",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "Alineación vertical",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "Medida en",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "Ancho preferido",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "Sangría de la izquierda",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "Especificar altura",
  "ASPxRichEditStringId.TableProperties_RowHeight": "Altura de la fila es",
  "ASPxRichEditStringId.TableProperties_Table": "Tabla",
  "ASPxRichEditStringId.TableProperties_Row": "Fila",
  "ASPxRichEditStringId.TableProperties_Column": "Columna",
  "ASPxRichEditStringId.TableProperties_Cell": "Celda",
  "ASPxRichEditStringId.TableProperties_Options": "Opciones...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "Bordes y sombreado...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "Fila anterior",
  "ASPxRichEditStringId.TableProperties_NextRow": "Siguiente fila",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "Columna anterior",
  "ASPxRichEditStringId.TableProperties_NextColumn": "Siguiente columna",
  "ASPxRichEditStringId.TableProperties_CantSplit": "Fila de permitir romper en todas las páginas",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "Por defecto los márgenes de la célula",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "Por defecto el espaciado de celda",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "Permitir el espacio entre las células",
  "ASPxRichEditStringId.TableOptions_AutoResize": "Cambiar el tamaño automáticamente para ajustar contenido",
  "ASPxRichEditStringId.BorderShading_Borders": "Bordes",
  "ASPxRichEditStringId.BorderShading_Shading": "Sombreado",
  "ASPxRichEditStringId.BorderShading_Fill": "Llenar",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "Haga clic en el siguiente diagrama o utilice los botones para aplicar bordes",
  "ASPxRichEditStringId.BorderShading_BordersNone": "Ninguno",
  "ASPxRichEditStringId.BorderShading_BordersBox": "Caja",
  "ASPxRichEditStringId.BorderShading_BordersAll": "Todos",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "Rejilla",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "Personalizado",
  "ASPxRichEditStringId.CellOptions_CellMargins": "Márgenes de celda",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "Igual que la tabla entera",
  "ASPxRichEditStringId.CellOptions_WrapText": "Doblar Texto",
  "ASPxRichEditStringId.Columns_Presets": "Ajustes preestablecidos",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "Número de columnas",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "Ancho y espacio",
  "ASPxRichEditStringId.Columns_EqualWidth": "Ancho de columna igual",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "Anchura",
  "ASPxRichEditStringId.Columns_Spacing": "Espaciado",
  "ASPxRichEditStringId.PageFile": "Archivo",
  "ASPxRichEditStringId.PageHome": "Inicio",
  "ASPxRichEditStringId.PageInsert": "Insertar",
  "ASPxRichEditStringId.PagePageLayout": "Distribución de Página",
  "ASPxRichEditStringId.PageReferences": "Referencias",
  "ASPxRichEditStringId.PageMailings": "Intercalación de correo",
  "ASPxRichEditStringId.PageReview": "Revisar",
  "ASPxRichEditStringId.PageView": "Vista",
  "ASPxRichEditStringId.PageHeaderAndFooter": "Encabezado y pie de página",
  "ASPxRichEditStringId.PageTableDesign": "Diseño",
  "ASPxRichEditStringId.PageTableLayout": "Diseño",
  "ASPxRichEditStringId.PageFloatingObjects": "Formato",
  "ASPxRichEditStringId.GroupUndo": "Deshacer",
  "ASPxRichEditStringId.GroupFont": "Fuente",
  "ASPxRichEditStringId.GroupParagraph": "Párrafo",
  "ASPxRichEditStringId.GroupClipboard": "Portapapeles",
  "ASPxRichEditStringId.GroupEditing": "Edición",
  "ASPxRichEditStringId.GroupCommon": "Común",
  "ASPxRichEditStringId.GroupStyles": "Estilos",
  "ASPxRichEditStringId.GroupZoom": "Ampliación",
  "ASPxRichEditStringId.GroupShow": "Mostrar",
  "ASPxRichEditStringId.GroupIllustrations": "Ilustraciones",
  "ASPxRichEditStringId.GroupText": "Texto",
  "ASPxRichEditStringId.GroupTables": "Tablas",
  "ASPxRichEditStringId.GroupSymbols": "Símbolos",
  "ASPxRichEditStringId.GroupLinks": "Enlaces",
  "ASPxRichEditStringId.GroupPages": "Páginas",
  "ASPxRichEditStringId.GroupHeaderFooter": "Encabezado y pie de página",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "Cerrar",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "Navegación",
  "ASPxRichEditStringId.GroupMailMerge": "Intercalación de correo",
  "ASPxRichEditStringId.GroupInsertFields": "Insertar campos",
  "ASPxRichEditStringId.GroupMailMergeView": "Ver",
  "ASPxRichEditStringId.GroupCurrentRecord": "Registro actual",
  "ASPxRichEditStringId.GroupFinish": "Terminar",
  "ASPxRichEditStringId.GroupDocumentViews": "Vistas de documento",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "Opciones",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "Posición",
  "ASPxRichEditStringId.GroupPageSetup": "Configurar Página",
  "ASPxRichEditStringId.GroupDocumentProtection": "Proteger",
  "ASPxRichEditStringId.GroupDocumentProofing": "Comprobar ortografía",
  "ASPxRichEditStringId.GroupDocumentComment": "Comentario",
  "ASPxRichEditStringId.GroupDocumentTracking": "Seguimiento",
  "ASPxRichEditStringId.GroupTableOfContents": "Tabla de Contenido",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "Organizar",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "Estilos de forma",
  "ASPxRichEditStringId.GroupCaptions": "Títulos",
  "ASPxRichEditStringId.GroupPageBackground": "Fondo",
  "ASPxRichEditStringId.GroupDocumentLanguage": "Idioma",
  "ASPxRichEditStringId.GroupView": "Vista",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "Opciones de estilos de tabla",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "Estilos de tabla",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "Bordes y sombreado",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "Tabla",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "Filas y columnas",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "Combinar",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "Tamaño de celda",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "Alineación",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "Shape Styles",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "Organizar",
  "ASPxRichEditStringId.RequiredFieldError": "Este campo es obligatorio",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "Pantalla completa",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "Activar / desactivar el modo de pantalla completa.",
  "ASPxRichEditStringId.SaveAsFileTitle": "Guardar como",
  "ASPxRichEditStringId.OpenFileTitle": "Abrir",
  "ASPxRichEditStringId.FontTitle": "Fuente",
  "ASPxRichEditStringId.ParagraphTitle": "Párrafo",
  "ASPxRichEditStringId.PageSetupTitle": "Configurar Página",
  "ASPxRichEditStringId.ColumnsTitle": "Columnas",
  "ASPxRichEditStringId.InsertTableTitle": "Insertar tabla",
  "ASPxRichEditStringId.InsertTableCellsTitle": "Insertar Celdas",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "Eliminar las células",
  "ASPxRichEditStringId.SplitTableCellsTitle": "Celdas divididas",
  "ASPxRichEditStringId.TablePropertiesTitle": "Propiedades de tabla",
  "ASPxRichEditStringId.BorderShadingTitle": "Bordes y sombreado",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "Insertar campo de fusión",
  "ASPxRichEditStringId.ExportRangeTitle": "Rango de exportación",
  "ASPxRichEditStringId.BookmarkTitle": "Marcador",
  "ASPxRichEditStringId.FindReplaceTitle": "Buscar y reemplazar",
  "ASPxRichEditStringId.InsertImageTitle": "Insertar imagen",
  "ASPxRichEditStringId.ErrorTitle": "Error",
  "ASPxRichEditStringId.SpellingTitle": "Ortografía",
  "ASPxRichEditStringId.InformationTitle": "Información",
  "ASPxRichEditStringId.WarningTitle": "Advertencia",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "Margen izquierdo",
  "ASPxRichEditStringId.RulerMarginRightTitle": "Margen derecho",
  "ASPxRichEditStringId.RulerFirstLineIdentTitle": "Sangría de primera línea",
  "ASPxRichEditStringId.RulerHangingIdentTitle": "Sangría francesa",
  "ASPxRichEditStringId.RulerRightIdentTitle": "Sangría derecha",
  "ASPxRichEditStringId.RulerLeftIdentTitle": "Sangría izquierda",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "First Line Indent",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "Hanging Indent",
  "ASPxRichEditStringId.RulerRightIndentTitle": "Right Indent",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "Left Indent",
  "ASPxRichEditStringId.RulerLeftTabTitle": "Ficha de la izquierda",
  "ASPxRichEditStringId.RulerRightTabTitle": "Ficha derecha",
  "ASPxRichEditStringId.RulerCenterTabTitle": "Ficha del centro",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "Título decimal",
  "ASPxRichEditStringId.MarginsNarrow": "Estrecho",
  "ASPxRichEditStringId.MarginsNormal": "Normal",
  "ASPxRichEditStringId.MarginsModerate": "Moderado",
  "ASPxRichEditStringId.MarginsWide": "Ancho",
  "ASPxRichEditStringId.ModelIsChangedError": "El documento ha sido modificado fuera del editor y debe estar recargado. <br />Sus cambios de última hora podrían no estar preservados si hay algunos.",
  "ASPxRichEditStringId.SessionHasExpiredError": "La sesión ha expirado. <br />Actualice la página para continuar.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "Las operaciones para abrir y guardar documentos no están permitidas <br /> ya que el directorio de trabajo no se especifica en el editor.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "Denegado el acceso al portapapeles debido a la política de seguridad de su navegador web. <br />En vez de eso, se puede utilizar los atajos de teclado:<br />{0}+X (cortar), {0}+C (copiar) y {0}+V (pegar).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": "Acceso al portapapeles se niega debido a la política de seguridad de su navegador. En su lugar, utilice el menú nativo que puede invocarse golpeando y sosteniendo el contenido seleccionado.",
  "ASPxRichEditStringId.InnerExceptionsError": "Un error no especificado ocurrió y el editor necesita ser recargada. Los últimos cambios se puede perder.",
  "ASPxRichEditStringId.AuthExceptionsError": "El permiso de acceso a este documento está restringido. Se debe recargar el editor. Pueden perderse las modificaciones anteriores.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "No se puede guardar un documento abierto no desde un archivo. Manejar el ahorro evento procesar ahorro personalizado",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "¿Está seguro/a de que desea realizar esta acción? Se perderá toda la información que no haya sido guardada.",
  "ASPxRichEditStringId.RestartNumbering": "Reiniciar numeración",
  "ASPxRichEditStringId.ContinueNumbering": "Continuar la numeración",
  "ASPxRichEditStringId.UpdateField": "Actualizar campo",
  "ASPxRichEditStringId.ToggleFieldCodes": "Alternar los códigos de campo",
  "ASPxRichEditStringId.OpenHyperlink": "Abrir hipervínculo",
  "ASPxRichEditStringId.EditHyperlink": "Modificar hipervínculo...",
  "ASPxRichEditStringId.RemoveHyperlink": "Quitar hipervínculo",
  "ASPxRichEditStringId.CantOpenDocumentError": "No se puede abrir el documento porque se ha producido un error servidor.",
  "ASPxRichEditStringId.CantSaveDocumentError": "El documento no podría ser ahorrado debido a un error de servidor.",
  "ASPxRichEditStringId.DocVariableExceptionError": "Campo DOCVARIABLE el no podría calcularse debido a un error de servidor.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "El archivo está dañado y no se puede abrir.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "The InsertContentFromServerCommand could not be executed because a server error occurred.",
  "ASPxRichEditStringId.LoadPictureError": "Could not load the image.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "Crear campo",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "Crear un elemento dinámico que se utiliza como un marcador de posición para datos que podrían cambiar en un documento de.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "Actualizar todos los campos",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "Actualizar todos los elementos dinámicos en el documento por conseguir los últimos datos de la fuente.",
  "ASPxRichEditStringId.ParagraphStyles": "Estilos de párrafo",
  "ASPxRichEditStringId.CharacterStyles": "Estilos de carácter",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "Con viñetas y numeración",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "Personalizar lista numerada",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "Personalizar lista con viñetas",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "Personalizar la lista de esquema",
  "ASPxRichEditStringId.HyperlinkTitle": "Insertar Hipervínculo",
  "ASPxRichEditStringId.TabsTitle": "Tabulaciones",
  "ASPxRichEditStringId.SymbolsTitle": "Símbolos",
  "ASPxRichEditStringId.OtherLabels_None": "Ninguno",
  "ASPxRichEditStringId.OtherLabels_All": "Todos",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "ya existentes. ¿Desea reemplazarlo?",
  "ASPxRichEditStringId.Numbering_Character": "Carácter...",
  "ASPxRichEditStringId.Numbering_Font": "Fuente...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "Símbolo de viñeta",
  "ASPxRichEditStringId.Numbering_BulletPosition": "Posición de la viñeta",
  "ASPxRichEditStringId.Numbering_TextPosition": "Posición Texto",
  "ASPxRichEditStringId.Numbering_AlignedAt": "Alineado en",
  "ASPxRichEditStringId.Numbering_IndentAt": "Guión en",
  "ASPxRichEditStringId.Numbering_StartAt": "Iniciar en el",
  "ASPxRichEditStringId.Numbering_NumberFormat": "Formato de número",
  "ASPxRichEditStringId.Numbering_NumberStyle": "Número de estilo",
  "ASPxRichEditStringId.Numbering_NumberPosition": "Número de posición",
  "ASPxRichEditStringId.Numbering_Left": "Izquierda",
  "ASPxRichEditStringId.Numbering_Center": "Centrado",
  "ASPxRichEditStringId.Numbering_Right": "Derecha",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "Siga el número con",
  "ASPxRichEditStringId.Numbering_Level": "Nivel",
  "ASPxRichEditStringId.Numbering_TabCharacter": "Carácter de tabulación",
  "ASPxRichEditStringId.Numbering_Space": "Espacio",
  "ASPxRichEditStringId.Numbering_Nothing": "Nada",
  "ASPxRichEditStringId.Numbering_Customize": "Personalizar...",
  "ASPxRichEditStringId.Numbering_Bulleted": "Con viñetas",
  "ASPxRichEditStringId.Numbering_Numbered": "Numeradas",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "Esquema numerado",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "Dirección de correo electrónico",
  "ASPxRichEditStringId.Hyperlink_Url": "URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "Marcador",
  "ASPxRichEditStringId.Hyperlink_WebPage": "Página web",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "Lugar en este documento",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "Enviar correo electrónico a",
  "ASPxRichEditStringId.Hyperlink_Subject": "Asunto",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "DisplayProperties",
  "ASPxRichEditStringId.Hyperlink_Text": "Texto",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "ToolTip",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "La dirección de correo electrónico no es válida",
  "ASPxRichEditStringId.Tabs_Set": "Establecer",
  "ASPxRichEditStringId.Tabs_Clear": "Vaciar",
  "ASPxRichEditStringId.Tabs_ClearAll": "Vaciar Todos",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "Posición de parada de tabulación",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "Por defecto tabulaciones",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "Tabulaciones para borrarse",
  "ASPxRichEditStringId.Tabs_Alignment": "Alineación",
  "ASPxRichEditStringId.Tabs_Leader": "Guía",
  "ASPxRichEditStringId.Tabs_Left": "Izquierda",
  "ASPxRichEditStringId.Tabs_Center": "Centrado",
  "ASPxRichEditStringId.Tabs_Right": "Derecha",
  "ASPxRichEditStringId.Tabs_Decimal": "Decimal",
  "ASPxRichEditStringId.Tabs_None": "Ninguno",
  "ASPxRichEditStringId.Tabs_Hyphens": "Guiones",
  "ASPxRichEditStringId.Tabs_EqualSign": "Signos de igual",
  "ASPxRichEditStringId.Tabs_Dots": "Puntos",
  "ASPxRichEditStringId.Tabs_Underline": "Subrayado",
  "ASPxRichEditStringId.Tabs_MiddleDots": "Puntos de media",
  "ASPxRichEditStringId.Tabs_ThickLine": "Línea gruesa",
  "ASPxRichEditStringId.FinishMerge_From": "De",
  "ASPxRichEditStringId.FinishMerge_Count": "Recuento",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "Modo de fusión",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "Todos los registros",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "Registro actual",
  "ASPxRichEditStringId.FinishMerge_Range": "Rango",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "Párrafo nuevo",
  "ASPxRichEditStringId.FinishMerge_NewSection": "Sección nueva",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "Unir tablas",
  "ASPxRichEditStringId.InsertMergeField_Fields": "Campos",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "Nombre del marcador",
  "ASPxRichEditStringId.Bookmarks_SortBy": "Ordenar por",
  "ASPxRichEditStringId.Bookmarks_Name": "Nombre",
  "ASPxRichEditStringId.Bookmarks_Location": "Ubicación",
  "ASPxRichEditStringId.Bookmarks_Add": "Agregar",
  "ASPxRichEditStringId.Bookmarks_Delete": "Eliminar",
  "ASPxRichEditStringId.Bookmarks_GoTo": "Ir a la",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "Nombres de marcador deben comenzar con una letra",
  "ASPxRichEditStringId.FindReplace_Find": "Buscar",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "Avanzada buscar",
  "ASPxRichEditStringId.FindReplace_Replace": "Reemplazar",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "Reemplazar todos",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "Reemplazar con",
  "ASPxRichEditStringId.FindReplace_Previous": "Anterior",
  "ASPxRichEditStringId.FindReplace_Next": "Siguiente",
  "ASPxRichEditStringId.FindReplace_MatchCase": "Coincidir mayúscula/minúscula",
  "ASPxRichEditStringId.FindReplace_Results": "Resultados",
  "ASPxRichEditStringId.FindReplace_NoResult": "No pudimos encontrar lo que estaba buscando información",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "el resultado es demasiado largo. Revisa las páginas para ver los resultados en texto.",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "entradas de {0} se han sustituido",
  "ASPxRichEditStringId.FindReplace_Items": "Elementos",
  "ASPxRichEditStringId.FindReplace_NoMatches": "No hay partidos",
  "ASPxRichEditStringId.FindReplace_Of": "de",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "Termine la revisión ortográfica.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "Omitir una vez",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "Ignorar todo",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "Agregar al Diccionario",
  "ASPxRichEditStringId.Spelling_Delete": "Eliminar",
  "ASPxRichEditStringId.Spelling_Change": "Cambio",
  "ASPxRichEditStringId.Spelling_ChangeAll": "Cambiar todo",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "No en Diccionario:",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "Palabra repetida:",
  "ASPxRichEditStringId.Spelling_Suggestions": "Sugerencias:",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(sin sugerencias ortográficos)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "Oración caso.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "Oración caso.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "Márgenes de celda",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "Personalizar márgenes de celda",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "Cabecera de arriba:",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "Pie de la parte inferior:",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "Especificar la distancia desde la parte superior de la página en la parte superior del encabezado de.",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "Especificar la distancia desde la parte inferior de la página en la parte inferior del pie de página.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "In line with text",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "Lock Anchor",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "Lock aspect ratio",
  "ASPxRichEditStringId.LayoutOptions_Reset": "Restablecer",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "Both sides",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "Left only",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "Right only",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "Largest only",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "Interior",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "Exterior",
  "ASPxRichEditStringId.LayoutOptions_Position": "Posición",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "Horizontal",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "Vertical",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "relative to",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "de",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "Absolute position",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "Relative position",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "Alineación",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "Book layout",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "to the right of",
  "ASPxRichEditStringId.LayoutOptions_Below": "below",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "Text Wrapping",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "Wrapping style",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "Doblar Texto",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "Distance from text",
  "ASPxRichEditStringId.LayoutOptions_Size": "Tamaño",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "Absoluto",
  "ASPxRichEditStringId.LayoutOptions_Relative": "Relative",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "Rotar",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "Rotation",
  "ASPxRichEditStringId.LayoutOptions_Scale": "Escala",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "Tamaño original",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": "El archivo no se puede eliminar. Ya está abierto por otro usuario.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": "The file cannot be moved. It is already opened by another user.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": "The file cannot be renamed. It is already opened by another user.",
  "ASPxRichEditStringId.CreateDateField": "DATE",
  "ASPxRichEditStringId.CreateDateFieldDescription": "Inserts the current date and time.",
  "ASPxRichEditStringId.CreateTimeField": "TIME",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "Inserts the current time.",
  "ASPxRichEditStringId.CreatePageField": "PAGE",
  "ASPxRichEditStringId.CreatePageFieldDescription": "Inserts the number of the page containing the field.",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "Inserts the total number of pages.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "MERGEFIELD",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "Retrieves a value from the bound data source.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "Enables you to programmatically insert complex content when this field is updated.",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "Sin campos",
  "ASPxRichEditStringId.Tabs_NoTabs": "Sin pestañas",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "Sin marcadores",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "Configuraciones de fuente",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "Alinear párrafo"
}